<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="btn btn-dark py-2" href="https://www.umariana.edu.co/">
      <img
        class="img-fluid"
        src="assets/images/Logo-UniversidadMariana2020.png"
      />
    </button>
    <a class="navbar-brand" href="">Pagina de inicio</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle btn-outline-danger"
            href=""
            id="navbarEmpresa"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Empresas
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark"
            aria-labelledby="navbarEmpresa"
          >
            <li class="nav-item" routerLinkActive="active">
              <a
                class="dropdown-item btn-outline-danger"
                routerLink="/empresas"
              >
                Ver las empresas que ya forman parte del convenio Premium
              </a>
            </li>
            <li>
              <a
                class="dropdown-item btn-outline-danger"
                routerLink="/estudiantes"
              >
                Ver listado de estudiantes vacantes
              </a>
            </li>
            <li></li>
            <li>
              <a
                class="dropdown-item btn-outline-danger"
                routerLink="/empresas/form"
              >
                Quiero crear un convenio con la Universidad Mariana
              </a>
            </li>
            <li>
              <a class="dropdown-item btn-outline-danger" href="">
                Necesito asesoria para vincular mi empresa con la U
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item btn-outline-danger" href="">
                Enviar una notificacion para solucion de algun inconveniente
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle btn-outline-danger"
            href=""
            id="navbarEstudiante"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Estudiantes
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark"
            aria-labelledby="navbarEmpresa"
          >
            <li>
              <a class="dropdown-item btn-outline-danger" href=""
                >Subir mi reporte</a
              >
            </li>
            <li>
              <a class="dropdown-item btn-outline-danger" href="">Opcion 1</a>
            </li>
            <li>
              <a class="dropdown-item btn-outline-danger" href="">Opcion 2</a>
            </li>
            <li>
              <a class="dropdown-item btn-outline-danger" href=""
                >Ver listado estudiantes</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item btn-outline-danger" href="">
                Enviar una notificacion para solucion de algun inconveniente
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link disabled"
            href=""
            tabindex="-1"
            aria-disabled="true"
            >{{ tituloBienvenida }}</a
          >
        </li>
      </ul>
      <form class="d-flex">
        <div class="form-group">
          <a class="btn btn-danger my-2">Iniciar sesion</a>
          <a class="btn btn-danger mt-2" routerLink="/empresas/form"
            >Registrarme</a
          >
        </div>
      </form>
    </div>
  </div>
</nav>
