<table class="table table-dark table-striped">
  <thead>
  <tr>
    <th>Documento</th>
    <th>Nombre</th>
    <th>Correo</th>
    <th>Celular</th>
    <th>Direccion</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estudiante of estudiantes">
      <td>{{estudiante.documento}}</td>
      <td>{{estudiante.nombres}} {{estudiante.apellidos}}</td>
      <td>{{estudiante.correo}}</td>
      <td>{{estudiante.celular}}</td>
      <td>{{estudiante.direccion}}</td>
    </tr>
  </tbody>
</table>
