<div class="container-fluid">
  <h1>Empresas que forman parte del convenio</h1>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Nit</th>
        <th>Nombres</th>
        <th>Pais</th>
        <th>Estado/Dep.</th>
        <th>Ciudad</th>
        <th>Codigo postal</th>
        <th>Telefono</th>
        <th>Correo</th>
        <th>Pagina web</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empresa of empresas">
        <td>{{ empresa.nit }}</td>
        <td>{{ empresa.nombre }}</td>
        <td>{{ empresa.pais }}</td>
        <td>{{ empresa.departamento }}</td>
        <td>{{ empresa.ciudad }}</td>
        <td>{{ empresa.codigoPostal }}</td>
        <td>{{ empresa.telefono }}</td>
        <td>{{ empresa.correoElectronico }}</td>
        <td>{{ empresa.paginaWeb }}</td>
        <td>
          <button
            class="btn btn-success"
            name="buttonEdit"
            [routerLink]="['/empresas/form/', empresa.nit]"
          >
            Editar
          </button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="elmininar(empresa)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
