<div class="container">
  <div class="card bg-dark">
    <form class="p-2">
      <div class="form row">
        <div class="mb-3 col-sm-6">
          <label for="nombre" class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            placeholder="Nombre empresa"
            name="nombre"
            [(ngModel)]="empresa.nombre"
          />
        </div>
        <div class="mb-3 col-sm-6">
          <label for="pais" class="form-label">Pais</label>
          <!-- <input type="text" class="form-control" id="pais" placeholder="Pais" /> -->
          <select
            class="form-select"
            id="pais"
            name="pais"
            [(ngModel)]="empresa.pais"
          >
            <option *ngFor="let pais of paises">
              {{ pais.name }}
            </option>
          </select>
        </div>
        <div class="mb-3 col-sm-6">
          <label for="departamento" class="form-label"
            >Estado/Departamento/Provincia</label
          >
          <input
            type="text"
            class="form-control"
            id="departamento"
            placeholder="Estado - Departamento"
            name="departamento"
            [(ngModel)]="empresa.departamento"
          />
        </div>
        <div class="mb-3 col-sm-6">
          <label for="ciudad" class="form-label">Ciudad</label>
          <input
            type="text"
            class="form-control"
            id="ciudad"
            placeholder="Ciudad"
            [(ngModel)]="empresa.ciudad"
            name="ciudad"
          />
        </div>
        <div class="mb-3 col-sm-6">
          <label for="codigo_postal" class="form-label">Codigo Postal</label>
          <input
            type="text"
            class="form-control"
            id="codigo_postal"
            placeholder="Codigo Postal"
            name="codigoPostal"
            [(ngModel)]="empresa.codigoPostal"
          />
        </div>
        <div class="mb-3 col-sm-6">
          <label for="telefono" class="form-label">Telefono</label>
          <input
            type="text"
            class="form-control"
            id="telefono"
            placeholder="Telfono / Celular"
            name="telefono"
            [(ngModel)]="empresa.telefono"
          />
        </div>
        <div class="mb-3 col-sm-6">
          <label for="correo" class="form-label">Correo</label>
          <input
            type="text"
            class="form-control"
            id="correo"
            placeholder="Correo electronico"
            name="correoElectronico"
            [(ngModel)]="empresa.correoElectronico"
          />
        </div>
        <div class="mb-3 col-sm-6">
          <label for="pagina_web" class="form-label">Pagina Web</label>
          <input
            type="text"
            class="form-control"
            id="pagina_web"
            placeholder="Pagina web"
            name="paginaWeb"
            [(ngModel)]="empresa.paginaWeb"
          />
        </div>
        <div class="mb-3 col-sm-6">
          <label for="nit" class="form-label">Nit</label>
          <input
            class="form-control"
            id="nit"
            value=""
            type="number"
            placeholder="Nit de la empresa"
            name="nit"
            [(ngModel)]="empresa.nit"
          />
        </div>
        <div class="mb-3 col-sm-11 form-check">
          <label class="form-check-label text-white" for="check"
            ><a href="https://www.umariana.edu.co/">Acepto los terminos y condiciones</a></label
          >
          <input type="checkbox" class="form-check-input mx-1" id="check" />
        </div>
        <div class="mb-3 col-sm-6">
          <label class="form-label"
            >Recuerda escribir el numero nit tal cual como esta
            registrado</label
          >
          <button
            type="submit"
            class="btn btn-success col-sm-8"
            (click)="crearEmpresa()"
          >
            Guardar cambios
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
